RewriteEngine On

RewriteRule ^int/ - [L,NC]
RewriteCond %{REQUEST_URI} !^/index\.php$
RewriteCond %{REQUEST_URI} !^/login\.php$

RewriteRule ^([^/]+)/?$ int/redirect.php?link_code=$1 [L,QSA]

RewriteRule ^([^/]+)/([^/]+)/?$ int/redirect.php?owner=$1&link_code=$2 [L,QSA]